body {
  padding: 0px;
  margin: 0px;
  font-family: monospace;
  box-sizing: border-box;
  background-color: black;
}
.container {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 50px;
  gap: 20px;
  border-radius: 20px;
  border: 1px solid lime;
  background: url("img/bgImage.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.user-promt input {
  border: 1px solid lime;
  padding: 10px;
  width: 250px;
  height: 30px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  color: lime;
  background-color: black;
  outline: none;
  font-family: monospace;
}
::placeholder {
  color: lime;
}

.qr-code {
  display: none;
  overflow: hidden;
  transition: all 10s;
}
.qr-code img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
}
.qr-btn button {
  cursor: pointer;
  padding: 12px;
  font-weight: 650;
  border: 1px solid lime;
  background-color: black;
  color: lime;
  border-radius: 10px;
  transition: all 0.34s;
  font-family: monospace;
}
.qr-btn button:hover {
  background-color: #141414;
}
